// font-family: 'AvenirNextCyr-Regular', sans-serif;
@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../src/fonts/AvenirNextCyr-Bold.eot');
	src: local('☺'), url('../src/fonts/AvenirNextCyr-Bold.woff') format('woff'), url('../src/fonts/AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'AvenirNextCyr';
	src: url('../src/fonts/AvenirNextCyr-Regular.eot');
	src: local('☺'), url('../src/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('../src/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}